POSTGRES_DB=doneit
POSTGRES_USER=doneit
POSTGRES_PASSWORD=change-me-please

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/doneit
SPRING_DATASOURCE_USERNAME=doneit
SPRING_DATASOURCE_PASSWORD=change-me-please
